html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #ffffff;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(117, 129, 133);
  background-image: url(https://img3.akspic.ru/originals/9/3/9/2/4/142939-art-korichnevyj_cvet-nebo-pryamougolnik-chernyy-2048x1152.jpg);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
